.page {
	position:relative;
}


section {
	position:relative;
}

.section-content {
	max-width:1400px;
}


.hero {
	height:100%;
	width:100%;
	text-align:center;
}

.margin-auto {
	margin-left:auto;
	margin-right:auto;
}

