---
title: Welcome to Middleman
---

.page
	.row.no-gutter.center-xs
		.col-xs-6.mdl-color--blue 
			%a.mdl-color-text--white{:href => ""}
				%div{:style => "display: flex;flex-direction: column;justify-content: center;height:calc(100vh - 00px);"}
					I'm Blue

			
		.col-xs-6.mdl-color--red 
			%a.mdl-color-text--white{:href => ""}
				%div{:style => "display: flex;flex-direction: column;justify-content: center;height:calc(100vh - 00px);"}
					.stuff I'm Red