---
title: Style Guide
---

.page
  %section.full-vh
    .video-bg-wrapper
      %video.video-bg{:autoplay => "", :loop => "", :muted => ""}
        %source{:src => "https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761", :type => "video/mp4"}
    .hero.vert-middle
      %h1 Style Guide
  %section.full-vh.mdl-color--amber-500
    %h1 Section 2
  %section.mdl-color--orange-500{:style => "height:400px;"}
    %h1 Section 3
  

