---
title: Style Guide
---

.page
  %section.mdl-color--amber-500
    .section-content.margin-auto.paxl.mdl-color--white
      %h1.txt-c The Styleguide
      
  %section.mdl-color--amber-500
    .section-content.margin-auto.paxl.mdl-color--white
      %h1 Buttons
      
      .row.no-gutter.mvxl
        .col-xs-12
          %button.btn-default Button
          %button.btn-default-alt Alt Button
          %button.btn-default.disabled Button
          %button.btn-default-alt.disabled Alt Button
          
      .row.no-gutter.mvxl
        .col-xs-12
          %button.btn-highlight Highlight 
          %button.btn-highlight-alt Highlight Alt
      %h4 Icon Buttons
      .row.no-gutter.mvxl
        .col-xs-12
          %button.btn-default.btn-lg

            .svgicon
              =partial 'images/svg-lib/ic_add_48px.svg'
            %div large
          %button.btn-default.btn-lg.btn-icon
            .svgicon
              =partial 'images/svg-lib/ic_add_48px.svg'
      .row.no-gutter.mvxl
        .col-xs-12
          %button.btn-default 

            .svgicon
              =partial 'images/svg-lib/ic_add_48px.svg'
            default
          %button.btn-default.btn-icon
            .svgicon
              =partial 'images/svg-lib/ic_add_48px.svg'
      .row.no-gutter.mvxl
        .col-xs-12
          %button.btn-default.btn-sm
            .svgicon
              =partial 'images/svg-lib/ic_add_48px.svg'
            small
          %button.btn-default.btn-icon.btn-sm
            .svgicon
              =partial 'images/svg-lib/ic_add_48px.svg'
           
          
      %h4 Sizes
      .row.no-gutter.mvxl
        .col-xs-12
          %button.btn-default.btn-sm 
            %div small
          %button.btn-default default
          %button.btn-default.btn-lg 
            %div large

  %section.mdl-color--orange-500
    .section-content.margin-auto.paxl.mdl-color--white
      %h1 Grid
      


      .row.no-gutter.mvxl
        .col-xs-1.mdl-color--deep-purple-600
          Grid 1
        .col-xs-1.mdl-color--purple-600
          Grid 1
        .col-xs-1.mdl-color--deep-purple-600
          Grid 1
        .col-xs-9.mdl-color--purple-600
          Grid 9
  %section.mdl-color--amber-500
    .section-content.margin-auto.paxl.mdl-color--white
      %h1 Icons
      


      .row.mvxl
        .sg-icon-tile
          .svgicon
            =partial 'images/svg-lib/ic_sync_48px.svg'
          .sg-icon-label
            Sync
          %code
            ic_sync_48px.svg
        .sg-icon-tile
          .svgicon
            =partial 'images/svg-lib/ic_account_circle_48px.svg'
          .sg-icon-label
            Account Circle
          %code
            ic_account_circle_48px.svg
        .sg-icon-tile
          .svgicon
            =partial 'images/svg-lib/ic_check_circle_48px.svg'
          .sg-icon-label
            Check Circle
          %code
            ic_check_circle_48px.svg
        .sg-icon-tile
          .svgicon
            =partial 'images/svg-lib/ic_highlight_off_48px.svg'
          .sg-icon-label
            Close Circle
          %code
            ic_highlight_off_48px.svg
        .sg-icon-tile
          .svgicon
            =partial 'images/svg-lib/ic_clear_48px.svg'
          .sg-icon-label
            Clear / Close
          %code
            ic_clear_48px.svg
        .sg-icon-tile
          .svgicon
            =partial 'images/svg-lib/ic_search_48px.svg'
          .sg-icon-label
            Search
          %code
            ic_search_48px.svg
        .sg-icon-tile
          .svgicon
            =partial 'images/svg-lib/ic_add_48px.svg'
          .sg-icon-label
            Add / Plus
          %code
            ic_add_48px.svg
        .sg-icon-tile
          .svgicon
            =partial 'images/svg-lib/ic_add_circle_48px.svg'
          .sg-icon-label
            Add Circle
          %code
            ic_add_circle_48px.svg
        .sg-icon-tile
          .svgicon
            =partial 'images/svg-lib/ic_add_circle_outline_48px.svg'
          .sg-icon-label
            Add Circle Outline
          %code
            ic_add_circle_outline_48px.svg
        

        

  -# %section.full-vh
  -#   .video-bg-wrapper
  -#     %video.video-bg{:autoplay => "", :loop => "", :muted => ""}

  -#       %source{:src => "https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761", :type => "video/mp4"}
  -#   .hero.vert-middle
  -#     %h1 100 VH Video