---
title: Styleguide
---

.page.mdl-color--blue-500
  %section.ptxxl.pbxxxxl.txt-c.styleguide-header
    .section-content.margin-auto.paxl.mdl-color--white
      %h1.txt-c.mbxl.monoton{:style => "font-size:64px;"} The Styleguide
      %a.button.btn-highlight.btn-lg{:href => "https://github.com/edahl9/middleman-starter", :target => "_blank"} Download
      

      
  %section
    .section-content.margin-auto.paxl.mdl-color--white
      %h1 Buttons
      
      .row.no-gutter.mvxl
        .col-xs-12
          %button.btn-default Button
          %button.btn-default-alt Alt Button
          
      .row.no-gutter.mvxl
        .col-xs-12
          %button.btn-highlight Highlight 
          %button.btn-highlight-alt Highlight Alt

      .row.no-gutter.mvxl
        .col-xs-12
          %button.btn-positive Positive
          %button.btn-positive-alt Positive Alt
      .row.no-gutter.mvxl
        .col-xs-12
          %button.btn-negative Negative
          %button.btn-negative-alt Negative Alt
      %h3 Disabled
      
      .row.no-gutter.mvxl
        .col-xs-12
          %button.btn-default.disabled Button
          %button.btn-default-alt.disabled Alt Button
      %h3 Icon Buttons
      .row.no-gutter.mvxl
        .col-xs-12
          %button.btn-default.btn-lg

            .svgicon
              =partial 'images/svg-lib/ic_add_48px.svg'
            %div large
          %button.btn-default.btn-lg.btn-icon
            .svgicon
              =partial 'images/svg-lib/ic_add_48px.svg'
      .row.no-gutter.mvxl
        .col-xs-12
          %button.btn-default 

            .svgicon
              =partial 'images/svg-lib/ic_add_48px.svg'
            default
          %button.btn-default.btn-icon
            .svgicon
              =partial 'images/svg-lib/ic_add_48px.svg'
          %button.btn-default-alt.btn-icon
            .svgicon
              =partial 'images/svg-lib/ic_add_48px.svg'
          %button.btn-positive.btn-icon
            .svgicon
              =partial 'images/svg-lib/ic_add_48px.svg'
      .row.no-gutter.mvxl
        .col-xs-12
          %button.btn-default.btn-sm
            .svgicon
              =partial 'images/svg-lib/ic_add_48px.svg'
            small
          %button.btn-default.btn-icon.btn-sm
            .svgicon
              =partial 'images/svg-lib/ic_add_48px.svg'

          
      %h3 Sizes
      .row.no-gutter.mvxl
        .col-xs-12
          %button.btn-default.btn-sm 
            %div small
          %button.btn-default default
          %button.btn-default.btn-lg 
            %div large
      %h3 Button Groups

      .row.no-gutter.mvxl
        .col-xs-12
          %p Ensure button elements have no space between them (>)
          .btn-group
            %button.btn-default yes
            %button.btn-default> maybe
            %button.btn-default no
      .row.no-gutter.mvxl
        .col-xs-12
          .btn-group
            %button.btn-default-alt.btn-icon
              .svgicon
                =partial 'images/svg-lib/ic_add_48px.svg'
            %button.btn-default-alt.btn-icon>
              .svgicon
                =partial 'images/svg-lib/ic_clear_48px.svg'
            %button.btn-default-alt.btn-icon
              .svgicon
                =partial 'images/svg-lib/ic_search_48px.svg'
          
  %section
    .section-content.margin-auto.paxl.mdl-color--white
      %h1 Forms
      .row.no-gutter.mvxl
        .col-xs-12
          %form
            .form-group
              %label Email
              %input.form-control{:type => "email", :placeholder => "Enter email"}
              %button.btn-default Submit

      .row.no-gutter.mvxl
        .col-xs-12
          %form
            .form-group.form-inline
              %label Email
              %input.form-control{:type => "email", :placeholder => "Enter email"}
              %button.btn-default Submit
      .row.no-gutter.mvxl
        .col-xs-12
          %form
            .form-group.form-inline
              %label Email
              %input.form-control.disabled{:type => "email", :placeholder => "Enter email"}
              %button.btn-default.disabled Submit

      .row.no-gutter.mvxl
        .col-xs-12
          %form
            .form-group.form-inline.form-lg
              %label Large
              %input.form-control{:type => "text", :placeholder => "Larger"}
              %button.btn-default.btn-lg Large Btn
  %section
    .section-content.margin-auto.paxl.mdl-color--white
      %h1 Grid
      


      .row.no-gutter.mvxl
        .col-xs-1.mdl-color--deep-purple-600
          Grid 1
        .col-xs-1.mdl-color--purple-600
          Grid 1
        .col-xs-1.mdl-color--deep-purple-600
          Grid 1
        .col-xs-9.mdl-color--purple-600
          Grid 9
  %section
    .section-content.margin-auto.paxl.mdl-color--white
      %h1 Icons
      


      .row.mvxl
        .sg-icon-tile
          .svgicon
            =partial 'images/svg-lib/ic_sync_48px.svg'
          .sg-icon-label
            Sync
          %code
            ic_sync_48px.svg
        .sg-icon-tile
          .svgicon
            =partial 'images/svg-lib/ic_account_circle_48px.svg'
          .sg-icon-label
            Account Circle
          %code
            ic_account_circle_48px.svg
        .sg-icon-tile
          .svgicon
            =partial 'images/svg-lib/ic_check_circle_48px.svg'
          .sg-icon-label
            Check Circle
          %code
            ic_check_circle_48px.svg
        .sg-icon-tile
          .svgicon
            =partial 'images/svg-lib/ic_highlight_off_48px.svg'
          .sg-icon-label
            Close Circle
          %code
            ic_highlight_off_48px.svg
        .sg-icon-tile
          .svgicon
            =partial 'images/svg-lib/ic_clear_48px.svg'
          .sg-icon-label
            Clear / Close
          %code
            ic_clear_48px.svg
        .sg-icon-tile
          .svgicon
            =partial 'images/svg-lib/ic_search_48px.svg'
          .sg-icon-label
            Search
          %code
            ic_search_48px.svg
        .sg-icon-tile
          .svgicon
            =partial 'images/svg-lib/ic_add_48px.svg'
          .sg-icon-label
            Add / Plus
          %code
            ic_add_48px.svg
        .sg-icon-tile
          .svgicon
            =partial 'images/svg-lib/ic_add_circle_48px.svg'
          .sg-icon-label
            Add Circle
          %code
            ic_add_circle_48px.svg
        .sg-icon-tile
          .svgicon
            =partial 'images/svg-lib/ic_add_circle_outline_48px.svg'
          .sg-icon-label
            Add Circle Outline
          %code
            ic_add_circle_outline_48px.svg
  %section
    .section-content.margin-auto.paxl.mdl-color--white
      %h1 Typography
      .row.no-gutter.phxl
        .col-xs-12.phxl
          %h1 H1 (base)*5 = 40px
          %h2 H2 (base)*4 = 32px
          %h3 H3 (base)*3 = 40px
          %h4 H4 20px
          %h5 H5 18px
          %h6 H6 13px
          %p Paragraph Tag
          .type-sm Type-Small 12px
          .type-default Type-Default 14px
          .type-lg Type-Large 16px
  

        

  -# %section.full-vh
  -#   .video-bg-wrapper
  -#     %video.video-bg{:autoplay => "", :loop => "", :muted => ""}

  -#       %source{:src => "https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761", :type => "video/mp4"}
  -#   .hero.vert-middle
  -#     %h1 100 VH Video