// https://palx.jxnblk.com/6CC7F5 


$base: #6CC7F5;
$black: #1d1f20;
$gray0: #f8f9f9;
$gray1: #eaedef;
$gray2: #dce1e3;
$gray3: #ccd4d7;
$gray4: #bbc5ca;
$gray5: #a8b5ba;
$gray6: #95a1a7;
$gray7: #808a8f;
$gray8: #656d71;
$gray9: #3b3f42;
$blue0: #ebf7fd;
$blue1: #d6effc;
$blue2: #c0e7fa;
$blue3: #a7ddf9;
$blue4: #8bd3f7;
$blue5: #6cc7f5;
$blue6: #61b4dd;
$blue7: #559ec2;
$blue8: #4783a1;
$blue9: #335e74;
$indigo0: #edf0fd;
$indigo1: #dae0fc;
$indigo2: #c4cefb;
$indigo3: #acb9f9;
$indigo4: #90a1f7;
$indigo5: #6c83f5;
$indigo6: #6176dd;
$indigo7: #5567c1;
$indigo8: #46559f;
$indigo9: #323c71;
$violet0: #f3edfd;
$violet1: #e6dbfc;
$violet2: #d8c6fb;
$violet3: #c7aef9;
$violet4: #b391f7;
$violet5: #9a6cf5;
$violet6: #8a61dd;
$violet7: #7955c1;
$violet8: #64469f;
$violet9: #473271;
$fuschia0: #fbedfd;
$fuschia1: #f6dbfc;
$fuschia2: #f2c6fb;
$fuschia3: #ecaef9;
$fuschia4: #e691f7;
$fuschia5: #de6cf5;
$fuschia6: #c861dd;
$fuschia7: #af55c2;
$fuschia8: #9146a0;
$fuschia9: #683273;
$pink0: #fdeef8;
$pink1: #fcdbf1;
$pink2: #fbc6e9;
$pink3: #f9aee0;
$pink4: #f791d5;
$pink5: #f56cc7;
$pink6: #dd61b3;
$pink7: #c2559d;
$pink8: #a04682;
$pink9: #73325d;
$red0: #fdeef0;
$red1: #fcdbe1;
$red2: #fbc6cf;
$red3: #f9afbb;
$red4: #f792a3;
$red5: #f56c83;
$red6: #dd6176;
$red7: #c25567;
$red8: #a04655;
$red9: #73323d;
$orange0: #fdf2ec;
$orange1: #fce4d7;
$orange2: #fad4c1;
$orange3: #f9c3a8;
$orange4: #f7b08c;
$orange5: #f59a6c;
$orange6: #dd8b61;
$orange7: #c27a55;
$orange8: #a16547;
$orange9: #744833;
$yellow0: #fdfae9;
$yellow1: #fcf5d3;
$yellow2: #faf0bc;
$yellow3: #f8eaa3;
$yellow4: #f6e488;
$yellow5: #f5de6c;
$yellow6: #ddc961;
$yellow7: #c3b055;
$yellow8: #a29347;
$yellow9: #756a33;
$lime0: #f7fdea;
$lime1: #eefcd4;
$lime2: #e6fabd;
$lime3: #dcf8a4;
$lime4: #d2f789;
$lime5: #c7f56c;
$lime6: #b4dd61;
$lime7: #9ec356;
$lime8: #84a247;
$lime9: #5f7634;
$green0: #effdec;
$green1: #defcd8;
$green2: #cbfac2;
$green3: #b6f9a9;
$green4: #9ff78d;
$green5: #83f56c;
$green6: #76dd61;
$green7: #68c356;
$green8: #56a247;
$green9: #3f7533;
$teal0: #ecfdf2;
$teal1: #d8fce4;
$teal2: #c3fad5;
$teal3: #aaf9c4;
$teal4: #8ef7b1;
$teal5: #6cf59a;
$teal6: #61dd8b;
$teal7: #56c37a;
$teal8: #47a266;
$teal9: #33754a;
$cyan0: #ecfdfa;
$cyan1: #d8fcf6;
$cyan2: #c2faf1;
$cyan3: #aaf9eb;
$cyan4: #8df7e5;
$cyan5: #6cf5de;
$cyan6: #61ddc9;
$cyan7: #56c3b0;
$cyan8: #47a293;
$cyan9: #34766a