//Old SVG Icon

// .icon {
//     display: inline-flex;
//     align-self: center;
//     position: relative;
//     height: 1em;
//     width: 1em;
// }
//
// .icon svg, .icon img {
//     height: 1em;
//     width: 1em;
// }
//
// .icon.svg-baseline svg, .icon.svg-baseline img {
//     bottom: -0.125em;
//     position: absolute;
// }

//New SVG Icon
.icon {
    display: inline-flex;
    align-self: center;
    position: relative;
    height: 1em;
    width: 1em;
    fill: currentColor;
}

.icon svg, .icon img {
    height: 1em;
    width: 1em;
}

.icon.icon-baseline {
    top: 0.125em;
}


//BG Image Icons
.icon div {
  width: 1em;
  height: 1em;
  background-size: 1em;
}