.card {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(81, 80, 85, 0.08), 0px 0px 8px rgba(81, 80, 85, 0.08);
  border-radius: 4px;
  min-width:960px;
}

.border-bottom {
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:1px;
    background-color:rgba(196, 198, 207, 0.5);
    //using this style so as not to bump the height of the rows and make calcs weird
  }
}
.border-right {
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color:rgba(196, 198, 207, 0.5);
    //using this style so as not to bump the height of the rows and make calcs weird
  }
}

//Play colors 
.absolut{
  background-color: $absolute-blue;
}
.jameson{
  background-color: green;
}

/////////////////////////////////
//Calendar 
/////////////////////////////////

.calendar {
  .cal-brand {
    width: 192px;
  }
  .cal-master {
    //Master program fixed width
    width: 184px;
  }


  .cal-header {
    color: $gray80;
    height:56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid rgba(196, 198, 207, 0.5);

    .cal-header-month {
      @extend .col-middle ;
      position: relative;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 16px;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1px;
        height:12px;
        background-color:rgba(196, 198, 207, 0.5);
      }
    }
    .cal-header-end {
      width: 16px; 
      position: relative;
      
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1px;
        height:12px;
        background-color:rgba(196, 198, 207, 0.5);
      }
    }
  }
  .cal-body {
    position: relative;
    .cal-brand {
      min-height:272px;
      position: relative;
    }
    .cal-master-item {
      position: relative;
      padding: 16px; 
      //Padding the content sets the min-height 
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      height: 100%;
      //This height is dynamic based on program count. 64px * count. 
      display: flex;
      flex-direction: column;
      justify-content: center !important;

    }
  }


//Background dotted lines 
  .cal-bg-layer {
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    pointer-events: none;
    .cal-schedule-bg {
      height:100%;
      .grid {
        height:100%;
      }
      .schedule-col {
        border-left: dashed 1px rgba(196, 198, 207, 0.5);
        height: inherit;
        min-height: 48px;
      }
    }
  }

//Program placement 
  .cal-schedule {
    position: relative;
    .cal-schedule-row {
      position: relative;
      height:48px;
    }
    .cal-schedule-row-bottom {
      min-height:16px;
      @extend .border-bottom ;
    }
  }

  .program {
    position: absolute;
    top: 16px;
    left: (100% / 12) * 2;
    height:32px; 
    padding:6px 16px;
    font-size: 14px;
    line-height: 20px;
    background-color: $absolute-blue;
    color: white; 
    border-radius: 4px;
    width: (100% / 12) * 2;
    @extend .type-ellipsis ;
  }
  .cal-schedule-end {
    width: 16px;
    border-left: dashed 1px rgba(196, 198, 207, 0.5);
  }
}