$pblue7: #001C48;
$pblue6: #00427A;
$pblue5: #1E599F;
$pblue4: #71A0CB;
$pblue3: #D4DAF2;
$pblue2: #EAEEF5;
$pblue1: #F7F8FB;

$paction: #6490F7;

$pdark: #2E3743;
$pred: #EF434A;

$gray80: #74747B;


$absolute-blue: #0B61AA;