/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    display: block;
    height: ($spacing-base*4);
    padding: 4px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    font-size: 14px;
    background-color: #fff;
    border: 1px solid $input-border;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box;
    margin-bottom: $spacing-base;
    margin-right: $spacing-base;
    color: $blue-grey-900;
}


/* Removes awkward default styles on some inputs for iOS */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid $input-border-focus;
    outline: 0;
}

label,
legend {
  color: $blue-grey-600;
}

fieldset {
    padding: 0;
    border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
}

//Form Groupings
//-------------------------------------
.form-group {
    label {
        display: block;
        font-weight: 600;
        margin-bottom: ($spacing-base/2);
        margin-right: $spacing-base;
    }
    input,
    textarea,
    select {
        &.disabled {
            background-color: $input-disabled;
            cursor: default;
            pointer-events: none;
            color:$blue-grey-700;
            border-color:$blue-grey-200;
        }
    }
}

.form-lg {
    label {
        font-size: 16px;
    }
    input {
        height: ($spacing-base*5);
        font-size: 16px;
    }
}

.form-inline.form-lg {
    label {
        line-height: ($spacing-base*5);
    }
}

.form-inline {
    display: inline-flex;
    label {
        display: inline-flex;
        margin-bottom: 0;
        line-height: ($spacing-base*4);
    }
    button,
    .button {
        display: inline-flex;
        margin-bottom: 0;
    }
    input,
    textarea,
    select {
        display: inline-flex;
        margin-bottom: 0;
    }
}
