body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*:before,
*:after {
    box-sizing: border-box;
}