body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:0;
	margin:0;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*:before,
*:after {
    box-sizing: border-box;
}


section {
	position:relative;
}


.hero {
	height:100%;
	width:100%;
	text-align:center;
}



/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf,
.clear {
  content: "";
  display: table;
  clear: both; }


